body {
    font-family: "Poppins", sans-serif;
}

.section-title {
    margin-bottom: 48px;
    h2 {
        font-size: 32px;
        font-weight: bold;
        line-height: 120%;
        text-align: center;

        @include tablet {
            font-size: 40px;
        }
    }
}
