.userheader-card {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    border: 1px solid #ddd;
    gap: 1rem;
    border-radius: 0.4rem;

    &-content {
        display: flex;
        flex-direction: column;
    }
}

.userheader-grid {
    display: grid;
    grid-template-columns: 6fr 3fr 3fr;
    gap: 1rem;
    padding: 1rem;
}

.age {
    font-size: 12px;
    color: #666;
}

.metalist {
 font-size: 14px;
 margin-top: 1rem;

 & span:first-of-type{
    color: #666;
    display: inline-flex;
    width: 80px;
 }
}